.navbar-brand ,.nav-link ,.navbar-nav .nav-link.active{
  color: #ffffff;
}

h1{
  color: #0054c1;
  margin-right: 50px;
  
}

h2,h3,label{
  color: #0054c1;
  margin-top: 50px;
}
th{
  color: #1175f8;
}
b{
  color: #0054c1;
}
h2:target {
  color: rgb(33, 8, 225);
  background: #87bbff;
  
}
body{
  color: rgb(0, 0, 0);
  background-color: rgb(34, 34, 68);
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
}
hr{
  border-style: dotted none none;
  background-color: transparent;
  border-color: #0054c1 ;
  border-width: 5px;
  height: 0px;
  width: 30%;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
#icon{
  width: 150%;
  height: 150%;
}
#myPic{
  height: 10%;
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
}
#myInfo{
  margin: 0 ;
  margin-top: 50px;
}
#content{
  margin-left: 2%;
}
#work{
  width: 30%;
}
#programmingSkill{
  width: 15%;
}
#languageSkill{
  width: 15%;
}
#mycontact{
  margin-right: 500px;
}